body {
  margin: 0;
  background: black;
  font-family: 'Segoe UI', sans-serif;
  color: white;
}
.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

/* Big aesthetic heading */
.main-title {
  font-size: 70px;
  letter-spacing: 0px;
  color: cyan;
  margin-bottom: 40px;
  font-weight: bold;
  text-shadow: 0 0 20px cyan;
  text-align: center;

}

/* Search box full width */
.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

input {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  background: black;
  border: 2px dotted cyan;
  color: white;
  font-size: 18px;
  outline: none;
  align-items: center;
}

/* Dark blue search button */
button {
  padding: 12px 25px;
  background: #001f5b;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.profile {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.profile img {
  width: 120px;
  border-radius: 50%;
  border: 3px solid cyan;
  box-shadow: 0 0 10px cyan;
}

.repo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.repo-card {
  background: #111;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid cyan;
  transition: 0.3s;
}

.repo-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px cyan;
}

.error {
  color: red;
}

.hidden {
  display: none;
}

/* Background image with blur */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("git.jpg") no-repeat center center/cover;
  filter: blur(4px);
  z-index: -2;
}

/* Soft overlay so text is readable */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 0, 7, 0.36);
  z-index: -1;
}